@charset "UTF-8";

.page.theme_light {
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --border-color: var(--title-shadow);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --rec-color: var(--background-color);
  --title-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__rec {
  display: none;
}
